* {
	padding: 0;
	margin: 0;
}

body {
	font-size: 62.5%;
	background-color: #fcefee;
}
header {
	width: 100%;
	height: 150px;
	margin: 0 auto;
	padding: 0 0 0 0;
	position: relative;
	background: url("../images/wrapback.png");
	overflow: hidden; 
}

.top_wrap {
	width: 100%;
	height: 50px;
}
.logo_wrap {
    width: 200px;
    float: left;
    margin: 35px 0 0 0; }
.logo{
	margin-left: 200px;
	height: 100px;
	width: 100px;
}
.guide_wrap{
	margin-left: 50%;
	height: 100px;
	width: 500px;
	background-color:#30e3ca;
}

nav {
	width: 100%;
	overflow: hidden; }
  
	.top_wrap {
	  width: 1002px;
	  margin: 0 auto; }
  
	.logo_wrap {
	  width: 200px;
	  float: left;
	  margin: 35px 0 0 0; }
 a{
		text-decoration:none;
	}

ul.menu_li {
	list-style-type:none;
	float: right;
	margin-bottom: 0; }
	ul.menu_li li.active, ul.menu_li li.active a {
	  background: #30e3ca;
	  color: #fff; }
	ul.menu_li li:before {
	  content: "";
	  position: absolute;
	  z-index: -1;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background: #30e3ca;
	  transform: scaleY(0);
	  -ms-transform: scaleY(0);
	  -moz-transform: scaleY(0);
	  -webkit-transform: scaleY(0);
	  -o-transform: scaleY(0);
	  -webkit-transform-origin: 50% 0;
	  transform-origin: 50% 0;
	  transition: transform 0.4s ease-out;
	  -moz-transition: transform 0.4s ease-out;
	  -webkit-transition: transform 0.4s ease-out;
	  -o-transition: transform 0.4s ease-out; }
	ul.menu_li li:hover:before, ul.menu_li .li:focus:before, ul.menu_li li:active:before {
	  transform: scaleY(1);
	  -ms-transform: scaleY(1);
	  -moz-transform: scaleY(1);
	  -webkit-transform: scaleY(1);
	  -o-transform: scaleY(1);
	  color: #fff; }
	ul.menu_li li:hover a, ul.menu_li li:focus a, ul.menu_li li:active a {
	  color: #fff; }
	ul.menu_li li {
	  width: 120px;
	  height: 140px;
	  margin: 0 2px;
	  float: left;
	  text-align: center;
	  transform: translateZ(0);
	  -ms-transform: translateZ(0);
	  -moz-transform: translateZ(0);
	  -webkit-transform: translateZ(0);
	  -o-transform: translateZ(0);
	  position: relative; }
	  ul.menu_li li a {
		color: #4D3A12;
		font-size: 1.8rem;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		white-space: nowrap; }
		ul.menu_li li a span {
		  display: block;
		  font-size: 1.4rem;
		  line-height: 2.6rem; }
  

		  #max{
			width: 900px;
			height: 500px;
			align-items: center;
			margin: 5% auto;
			margin-top: 0%;
		  }
		  .re{
			margin-top: 20px;
			position: relative;
			height: 400px;
		  }
		  .re ul{
			list-style-type:none ;
		  }
		  .re ul>li{
			width: 600px;
			height: 300px;
			position: absolute;
		  
			transition: 1s;
			opacity: 0;
		  }
		  .re ul>li img{
			width: 900px;
			height: 500px;
			border-radius: 10%;
			border: 15px solid #40514e;
		  }
		  #max ol {
			position: relative;
			display: grid;
			grid-template-columns: repeat(5,75px);
			grid-template-rows: auto;
			grid-gap: 1em;gap: 1em;
			float: right;
			margin-top: 450px;
			list-style: none;
			top:0;left:0;
		  }
		  #max ol li {
			width: 25px;
			height: 10px;
			font-size: 15px;
			line-height: 20px;
			float: left;
			text-align: center;
			border-radius: 2em;
			border: 5px solid #999999;
		  }
		  
		  

